@font-face {
    font-family: "PP OS";
    src: url("/fonts/PPObjectSans-Regular.woff") format("woff");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "PP OS";
    font-weight: 300;
}

body {
    background-color: ghostwhite;
}

section {
    padding: 50px;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 2%);
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 50px;
}

#profile-page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 18px;
}

.profile-icon {
    height: 45px;
    width: 45px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile-picture {
    position: relative;
    height: 400px;
    width: 300px;
    overflow: hidden;
}

.profile-picture.editable {
    cursor: pointer;
}

.profile-picture.editable:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

.profile-picture.editable:hover:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-icon > img,
.profile-picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.profile-picture.editable:hover img,
.profile-icon:hover img {
    transform: scale(1.03);
}

#upload {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#modal {
    position: absolute;
    width: 70vw;
    height: 60vh;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 11px 70px 0px rgb(0 0 0 / 30%);
}

.close {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: transparent;
    color: white;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
}

.close.absolute {
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    width: 2em;
    height: 2em;
}

.close:before,
.close:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
}

.close:after {
    transform: rotate(-45deg);
}

.search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}

.users {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
    border: 1px solid #e3e3e3;
}

.users > img,
.users > a > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.users > h3 {
    padding: 3px 10px;
}
