@font-face {
    font-family: "PP AG";
    src: url("/fonts/PPAgrandir-NarrowRegular.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "PP OS";
    src: url("/fonts/PPObjectSans-Regular.woff") format("woff");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "PP AG";
    font-weight: 300;
}

body {
    background-color: #f1e7dd;
}

section {
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h3 {
    font-size: 3.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.1;
}

h4 {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
}

h5 {
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
}

h6 {
    font-size: 1rem;
    letter-spacing: 0.03rem;
}

p {
    letter-spacing: 0.08rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #6943ff;
    border-radius: 5px;
    width: 98vw;
    left: 1vw;
    top: 1vw;
    position: fixed;
    height: 90px;
}

header.navbar {
    backdrop-filter: blur(25px);
    background-color: #6943ff94;
    z-index: 2;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}

.navbar a {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.logout {
    width: 20px;
    height: 20px;
    transform: translateY(2px);
}

button {
    border-radius: 50px;
    border: none;
    background-color: #ffaca4;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

button.xl {
    width: 190px;
    height: 70px;
    font-size: 1.5rem;
}

button.m {
    width: 130px;
    height: 40px;
    font-size: 1.3rem;
}

button.m.wide {
    width: auto;
    padding: 4px 30px;
}

.txt-highlight {
    border-bottom: 0.15rem solid white;
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    height: 40px;
    transform: translateY(4px);
}

.logo {
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
}

#intro {
    position: absolute;
}

.registration {
    width: 726px;
    height: 553px;
    background-color: #6943ff1a;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14vw;
    backdrop-filter: blur(25px);
}

.registration.backdrop {
    background-color: #6943ff;
}

.reg-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
}

.reg-modal > h3 {
    width: 69%;
    text-align: center;
    margin-bottom: 4rem;
}

form.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.reg-input-fields {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 12px;
    margin-bottom: 30px;
}

input {
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.1rem;
    width: 20vw;
}

input:focus-visible {
    outline: none;
}

input.user-search,
.chat-container textarea,
.profile textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    height: 100px;
    letter-spacing: 0.08rem;
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    background-color: white;
}

input.user-search {
    height: 70px;
    align-self: flex-start;
    margin-bottom: 20px;
    color: black;
    padding: 10px 20px;
}

textarea.bio,
p.bio {
    font-size: 1.3rem;
    width: 400px;
}

textarea:focus-visible {
    outline: none;
}

textarea::placeholder {
    letter-spacing: 0.08rem;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.6; /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.6);
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.6);
}

input.user-search::placeholder {
    color: #3d3d3d;
}

.reg-cta {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(12%);
}

.reg-cta p a,
a.link {
    font-size: 1.1rem;
    color: white;
    letter-spacing: 0.08rem;
    text-decoration: none;
}

.pw-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pw-reset-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.step {
    width: 65%;
}

.step h4:first-child {
    font-size: 3rem;
    text-align: center;
}

.step a,
.reg-cta a,
a.link {
    color: white;
    transition: color 0.2s;
}

.step a:hover,
.reg-cta a:hover,
a.link:hover,
.navbar a:hover {
    color: #ffaca4;
}

.pw-reset-form input {
    width: 65%;
}

#profile-page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 18px;
    width: 60%;
}

.profile-icon {
    height: 45px;
    width: 45px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile-picture {
    position: relative;
    height: 400px;
    width: 300px;
    overflow: hidden;
}

.profile-picture.editable {
    cursor: pointer;
}

.profile-picture.editable:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

.profile-picture.editable:hover:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-icon > img,
.profile-picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.profile-picture.editable:hover img,
.profile-icon:hover img {
    transform: scale(1.03);
}

.profile h3 {
    margin-bottom: 20px;
}

.profile p {
    margin-bottom: 15px;
}

#upload {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(67 48 143 / 47%);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#modal {
    position: absolute;
    width: 70vw;
    height: 60vh;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 11px 70px 0px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.input-cont {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label {
    overflow: hidden;
    white-space: nowrap;
    width: 155px;
    height: 50px;
}

.inputfile + label {
    font-size: 1.25em;
    width: 300px;
    height: fit-content;
    padding: 5px;
    letter-spacing: 0.08rem;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid black;
    transition: border ease-in-out 0.5s;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #ffaca4;
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus-visible,
label:focus-visible {
    outline: none;
    border: none;
}

.close {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: transparent;
    color: white;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
}

.close.absolute {
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    width: 2em;
    height: 2em;
}

.close:before,
.close:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
}

.close:after {
    transform: rotate(-45deg);
}

.search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

.friend-cont .search-results {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.friend-cont {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
    margin-bottom: 20px;
}

.friend-cont h6 {
    margin-bottom: 22px;
    text-align: center;
    margin-top: 3px;
}

.friend-cont button {
    padding: 7px 15px;
    position: absolute;
    left: 50%;
    bottom: -7%;
    transform: translateX(-50%);
}

.wannabe-cont {
    width: 90%;
    padding: 30px 50px;
    margin-bottom: 20px;
}

.users {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
    border: 1px solid #e3e3e3;
    position: relative;
}

.users > img,
.users > a > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.users > h3 {
    padding: 3px 10px;
}

.wannabe-cont .users {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wannabe-cont .users a {
    align-self: stretch;
    overflow: hidden;
    margin-bottom: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.wannabe-cont .users button {
    font-size: 1rem;
    padding: 10px 20px;
    transform: translateY(8px);
    position: absolute;
    bottom: -3%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #70f7ac;
    transition: background-color 0.2s, color 0.2s;
}

.wannabe-cont .users button:hover,
button:hover {
    background-color: #6943ff;
    color: white;
    box-shadow: 0 1px 20px white;
}

.wannabe-cont .users h5 {
    margin-bottom: 32px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px 30px;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: hidden;
    position: absolute;
    top: -10px;
    width: 60%;
}

.chat-container textarea {
    min-height: 50px;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.message-text:last-child {
    margin-top: 30px;
}

.message-text {
    background-color: #e1d4ce;
    padding: 10px 18px 10px 13px;
    border-radius: 5px;
    margin: 3px 0;
    width: fit-content;
    max-width: 45%;
}

.message-text .username {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    color: rgb(0 0 0 / 50%);
}

.message-text.own-message {
    align-self: flex-end;
    background-color: #ffc3f5;
}

.message-text.own-message .username {
    text-align: right;
}

.message-time {
    font-size: 0.7rem;
    letter-spacing: 0.03rem;
    color: #00000075;
    margin-top: 6px;
}

.online-cont {
    align-self: flex-end;
    width: 18%;
}

.online-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.online-icon {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
}

.online-icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-section {
    align-self: center;
    width: 90%;
}

.search-section .friend-cont {
    width: auto;
}
